<!DOCTYPE html>
<html>
<body>
    <p>基本図は 1/5000 にしか対応していません。用紙サイズは上の「図面の設定」が優先されます。設定よりも大きな画像が入力された場合は、右端と下側が削除されます。設定よりも小さな画像が入力された場合は右端と下側に余白が追加されます。</p>
    <details>
        <summary>JPEGとは</summary>
        <p>JPEGは、主に写真など、透過を必要としない画像や印刷物向きで、幅広く対応できる画像ファイルです。フルカラーに対応し、非可逆圧縮による効率の良い圧縮ができるため、色数の多い写真画像に適したファイル形式です。</p>
    </details>
    <details>
        <summary>PNGとは</summary>
        <p>PNGは、色数と透過対応、画像向きが特徴です。GIFに代わるファイル形式として登場した比較的新しいファイル形式で、ロゴ、アイコン、色数が少なめの写真画像などに使われます。JPEG同様にフルカラーを扱うことができますが、可逆圧縮のため、色数が多いとJPEGよりもファイルサイズが大きくなります。</p>
    </details>
    <details>
        <summary>TIFFとは</summary>
        <p>TIFFは、高解像度、複数ページのデザイン、および透明機能をサポートしています。つまり、多くの情報が保存されています。JPEG、PNGを置き換えることを目指して開発されたWebP（ウェッピー）という新しいファイル形式がありますが、まだ一般的ではありません。</p>
    </details>
    <br>
</body>
</html>